
@{
    ViewBag.Title = "TeamList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>အသင်းအဖွဲ့ List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Team List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Team List</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                @*<button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>*@
            </div>
        </div>
        <div class="card-body">
            <table id="tblTeam" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>အသင်းအဖွဲ့အမည်(မြန်မာ)</th>@*CinemaName*@
                        <th>အသင်းအဖွဲ့အမည်(English)</th>@*TownshipName*@
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            ShowTeamList();
        });

        function ShowTeamList() {
            var table = $('#tblTeam').DataTable(
                {
                    "language": {
                        "info": "Display _START_ to _END_ of _TOTAL_ records",
                    },
                    "oLanguage": {
                        "sLengthMenu": "Display _MENU_ records",
                    },
                    "ajax": {
                        "url": '@Url.Action("GetTeam", "Team")',
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "responsive": true,
                    "order": [[1, "desc"]],
                    "autoWidth": false,
                    "destroy": "true",
                    "columns": [
                        { "data": "TeamNameMM", "width": "50%" },
                        { "data": "TeamNameEng", "width": "50%" },
                    ],
                }
            );
        }
    </script>
}

