
    <div class="card card-primary">
        <div class="card-body">
            <table id="tblMatch" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ပွဲချိန်</th>
                        <th>Home</th>
                        <th>Away</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
