
<div class="card card-primary">
    <div class="card-header">
        <div class="row">
            <div class="col-xl-2 col-md-2">8:00pm</div>
            <div class="col-xl-2 col-md-2">Real</div>
            <div class="col-xl-1 col-md-1">Vs</div>
            <div class="col-xl-6 col-md-6">Barca</div>
            <div class="col-xl-1 col-md-1" style="text-align:right;">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="tblMatch" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ပွဲချိန်</th>
                    <th>Home</th>
                    <th>Away</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
